ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    border: 2px solid black;
    border-radius: 50%;
    width: 5rem;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
    font-family: Lato;
}

li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

nav {
    text-align: center;
    border-bottom: 2px solid black;
    margin: 0px 20px 20px 20px;
    padding-bottom: 20px;
}

img {
    border: 2px solid black;
    max-width: 60%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

figure {
    margin: 40px 0;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: large;
}

.email {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: larger;
}

.answer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: small;
}

.submit {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hackimage {
    margin: 2rem auto;
}

/* Footer styling */
footer {
    background-color: #333;
    /* Dark background */
    color: white;
    text-align: center;
    padding: 20px 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* Evenly space the icons */
}

.social-icon {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* Responsive design */
@media (min-width: 768px) {
    figure {
        margin: 40px;
    }

    .social-icon {
        font-size: 20px auto;
    }
}